# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code
.vscode/

# Flutter / Dart
**/doc/api/
**/ios/Flutter/.last_build_id
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/flutter_frameworks_already_compiled.sh
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
coverage/

# Desktop Ephemeral Folders (Generated on build)
**/linux/flutter/ephemeral/
**/macos/Flutter/ephemeral/
**/windows/flutter/ephemeral/

# Xcode / Mac specifics
*.mode1v3
*.mode2v3
*.perspectivev3
*.pbxuser
xcuserdata/
DerivedData/
*.moved-aside
*.xccheckout
*.xcscmblueprint
# Ignore user-specific workspace settings
node_modules/
.metadata

# Android builds
/android/app/debug
/android/app/profile
/android/app/release
